<div class="big-intro">
  <%= link_to article do %>
    <%= image_tag(article.image_url, class: "img-responsive") %>
    <h3 class="title-category">
      <% if article.audio_url? %>
        <i class="fa fa-volume-up"></i>
      <% end %>
      <%= truncate article.title, length: 160 %>
    </h3>
    <div class="post-date">
      <i class="fa fa-clock-o"></i>&nbsp;
      <%= l article.published_at, format: :long %>
    </div>
    <div class="mask"></div>
  <% end %>
</div>
