<div class="col-md-3 col-md-offset-1">
  <%= render "shared/fb_like_box" %>
  <%= link_to "https://play.google.com/store/apps/details?id=com.angkorvoice.app.angkorvoiceapp",
    target: "_blank", title: t("labels.get_google_play") do  %>
      <%= image_tag "googleplay", class: "img-responsive" %>
  <% end %>
</div>
